<div class="container">
  <router-outlet></router-outlet>
</div>

<mat-toolbar>
  <button mat-button routerLink="/quests" routerLinkActive="active">
    <mat-icon aria-hidden="false">map</mat-icon><br>
    <div class="mat-small">Hunts</div>
  </button>
  <button mat-button>
    <mat-icon aria-hidden="false">person</mat-icon><br>
    <div class="mat-small">Account</div>
  </button>  
  <button mat-button>
    <mat-icon aria-hidden="false">whatshot</mat-icon><br>
    <div class="mat-small">...</div>
  </button>
</mat-toolbar>